/*
	gris foncé: #606060;
	gris clair : #A0A0A0;
	gris tres clair :#E0E0E0;
	vert : #009900;
	vert tres clair:#DBEEDB;
	framboise: #CC0066;
	marron:#996633;
*/


body{
	font-family: "Century Gothic", Arial, serif;	
	font-size: 0.8em;			
	margin:0;
}

/* confort de lecture */
#cont_body{
	min-width: 900px; 
	width: 70%;
	margin: auto;
}

/***************** header ********************/
#cont_head{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px #E0E0E0 solid;

	font-size: 1.2em;
	color: #606060;
	text-align: center;
}

#cont_head .elt{ /* dans les elt plutot que le cont pour les effets de lien */
	padding-top: 20px;
	padding-bottom: 20px;
}

#cont_head .elt:nth-child(1){
	flex: 7;
}
#cont_head .elt:nth-child(2){
	flex: 1;
}

#nom_enseigne{
	font-family: 'Finger Paint', cursive,"Century Gothic", Arial, serif;
	font-size: 2.5em;
	color: #009900;
	padding-right: 20px;
}

#jeu_mot{
	color: #009900;
}

/* liens header */
header a, header a:visited{ /* ne change pas */
	color: #606060;
	text-decoration: none;
}
#cont_head>a:hover{ /* a reporter en effet permanent sur la page panier */
	color: black;
	border-bottom: 2px #996633 solid;
}

/************* nav **********************/
#cont_nav{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px #E0E0E0 solid;
	font-size: 1.2em;
	margin-bottom: 50px;
}

#cont_nav .elt{	/* dans les elt plutot que le cont pour les effets de lien */
	padding-top: 20px;
	padding-bottom: 20px;
}

/* liens nav */
nav a, nav a:visited{ /* ne change pas */
	color: #606060;
	text-decoration: none;
}
nav a:hover{
	color: black;
	border-bottom: 2px #996633 solid;
}

#promo{
	color: #CC0066;
}

/* harmonisation du champ de recherche */
input[type=submit]{
	background: url(../src/images/search.png) no-repeat; /* 24x24 px */
	height: 24px; 
    width: 24px;
	border: none;
	cursor: pointer;
}
input[type=search]{
	height: 24px; /*alignement icone */
	border: none;
	background-color: #DBEEDB;
}
nav form{
	border: 1px #E0E0E0 solid;
	border-radius: 10px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #DBEEDB;
}
nav form:hover{
	border: 1px #606060 solid;
}

/********************* main ************************/
#cont_main{ /* #cont_foo en bas */
	min-height: 800px;
}

/***************** footer *********************/

#cont_foo{
	min-width: 900px; 
	margin: auto;
}

#avantages{
	display: flex;
	justify-content: space-around;
	/* alignement du contenu avec #cont_body */
	padding-left: 15%;
	padding-right: 15%;

	padding-top: 20px;
	padding-bottom: 40px;
	background: #808080; /* sur toute la largeur */
	color: white;
	text-align: center;
}

#infos{
	display: flex;
	justify-content: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px #A0A0A0 solid;
	background: #808080;
	color: white;
}

#infos .elt{
	padding-left: 20px;
	padding-right: 10%;
	border-left: 1px #A0A0A0 solid;	
}

.categorie{
	margin-top: 0;
}

/* positionnement des flottants */
img[alt=support]{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
img[alt=mail]{
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}

#cgv{
	display: flex;
	justify-content: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 20px;
	padding-bottom: 40px;
	background: #606060;
	color: white;
	text-align: center;
}

#cgv img{
	margin-left: 10px; /* espacement des 5 pictos */
}

#cgv .elt:nth-child(2){
	padding-left: 10%;

}

/* liens footer */
footer a, footer a:visited{ /* ne change pas */
	color: white;
	text-decoration: none;
}
footer a:hover{
	color: black;
}

/******************** responsive ********************/

@media all and (max-width: 1788px){
	#cont_body{ 
		width: 75%;
	}
}
@media all and (max-width: 1670px){
	#cont_body{ 
		width: 80%;
	}
}
@media all and (max-width: 1566px){
	#cont_body{ 
		width: 85%;
	}
}
@media all and (max-width: 1474px){
	#cont_body{ 
		width: 90%;
	}
}
@media all and (max-width: 1392px){
	#cont_body{ 
		width: 95%;
	}
}
@media all and (max-width: 1318px){
	#cont_body{ 
		width: 75%;
	}

	#cont_head .elt:nth-child(1){
		flex: 5;
	}
	#cont_head .elt:nth-child(2){
		flex: 1;
	}
}

@media all and (max-width: 922px){
	#cont_body{ 
		width: 90%;
		min-width: 320px;
	}
	#cont_head .elt:nth-child(1){
		flex: 4;
	}
	#cont_head .elt:nth-child(2){
		flex: 1;
	}
	#cont_nav{
		flex-wrap: wrap;
	}
	#cont_foo{
		min-width: 320px; 
	}
}

@media all and (max-width: 514px){
	#avantages, #infos{
		flex-wrap: wrap;
	}
}