/*
  gris foncé: #606060;
  gris clair : #A0A0A0;
  gris tres clair :#E0E0E0;
  vert : #009900;
  vert tres clair:#DBEEDB;
  framboise: #CC0066;
  framboise tres clair : #E8CAD9;
  marron:#996633;
*/


/********************* main ************************/

#entete{
  display: flex;
}

#entete div:nth-child(1){
  flex: 1;
}

.continuer{
  background-color: #E8CAD9;
  border: 1px #A0A0A0 solid;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3%;
  cursor: pointer;  
}

#entete a, #entete a:visited{
  font-size: 1em;
  color: black;
  text-decoration: none;
}

#liste{
  display: flex;
}

#liste > div:nth-child(1){
  flex:5;
}
#liste div:nth-child(2){
  flex:1;
}
#liste div:nth-child(3){
  flex:1;
  text-align: center;
}
#liste div:nth-child(4){
  flex:1;
  text-align: center;
}

#liste >div{
  border-bottom: 1px #A0A0A0 solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#liste input{
  border: 1px #E0E0E0 solid;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
}

#liste h2{
  font-weight: normal;
  color: #606060;
}

#liste h2:nth-child(3){
}

#liste > div > div:nth-child(1){
  border-bottom: 1px #A0A0A0 solid;
  margin-bottom: 20px;
}

.designation{
  display: flex;
}

#liste img[alt=menthe]{
  /* comportement responsive */
  max-width: 100%;
  height: auto; 
}

.designation div:nth-child(2){
  margin-left: 20px;
}

.stock, .offerte{
  color: #009900;
}

.prix_ttc{
  white-space: nowrap;
}

.ttc{
  font-size: 1.4em;
}

.pu{
  color:#CC0066;
}

.supprimer:hover{
  font-weight: bold;
  cursor: pointer;
}

#recap{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px #A0A0A0 solid;
  border-radius: 4px;
}

#recap > div{
  display: flex;
  min-width: 400px;
  border-top: 1px #A0A0A0 solid;
  border-left: 1px #A0A0A0 solid;
}

#recap > div:nth-child(1){
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 4px 0px 0px;
}
#recap > div:nth-child(2){
  padding-left: 10px;
  padding-right: 10px;
}
#recap > div:nth-child(3){
  padding-left: 10px;
  padding-right: 10px;
}
#recap > div:nth-child(4){
  padding-left: 10px;
  padding-right: 10px;
  border-top: 3px #A0A0A0 solid;
}
#recap > div:nth-child(5){
  border-bottom: 1px #A0A0A0 solid;
}

#recap > div div:nth-child(1){
  flex: 1;
}



.total{
  font-size: 1.8em;
  color: #996633;
}

.commander{
  background-color: #DBEEDB;
  border-color: black;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  text-align: center;
}

.commander h2{
  margin: auto;
}

/******************** responsive ********************/
/*
div{
  border: 1px black solid;
}*/

@media all and (max-width: 860px){
  #liste input{
    width: 50%;
  }
  .designation{
    flex-wrap: wrap;
  }

  .designation > div:nth-child(1){
    flex:1;
  }
  .designation div:nth-child(2){
    flex:5;
    min-width: 200px;
  }
  
}

@media all and (max-width: 468px){
  #recap > div{
    min-width: 290px;
  }
  #liste > div:nth-child(1){
    flex:1;
  }
  #liste div:nth-child(2){
    flex:1;
  }
  #liste div:nth-child(3){
    flex:1;
  }
  #liste div:nth-child(4){
    flex:1;
  }

  .designation div:nth-child(2){
    min-width: 100px;
  }
}